.locate-button {
  height: 50px;
  width: 50px;
  background-color: #f4f4f4;
  position: absolute;
  z-index: 500;
  top: 12px;
  right: 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 4px;
  img {
    width: 90%;
    height: 90%;
  }
}
