.avatar-modal-close {
  display: none;
}
.avatar-modal-open {
  height: 100vh;
  width: 100vw;
  left: 0%;
  top: 0%;
  position: absolute;
  background-color: rgba(18, 20, 26, 1);
  z-index: 2;
  .profil-modal-title {
    font-size: 28px;
    font-family: "PressStart2P";
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(
      180deg,
      #f00 0%,
      #d95d00 28.13%,
      #be7c68 50.52%,
      #f5ff87 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .profil-map-div-block {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    border: 2px solid #dd0bff;
    box-shadow: 4px 4px 0px 0px #ed1385;
    margin-inline: 16px;
    margin-top: 40px;
    .map-div-avatar {
      .avatar-img {
        width: 75px;
      }
    }
  }
  .button-validate {
    color: white;
  }
}
.profil-page {
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 20, 26, 1);
  color: white;
  font-family: "PressStart2P";
  gap: 40px;
  padding-inline: 10%;

  .profil-top {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .profile-block-avatar {
      padding-top: 40px;
      .avatar-button {
        position: absolute;
        color: white;
      }

      .avatar {
        width: 130px;
      }
      .profil-button {
        .option {
          text-align: center;
        }
      }
    }
  }
  .profil-user {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    .topic {
      display: flex;
      gap: 20px;
      flex-direction: column;
      .pseudo {
        font-size: 30px;
        background: linear-gradient(
          180deg,
          #4475f5 0%,
          #4e75ff 32.81%,
          #aeb1ff 67.71%,
          #fff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .resume {
        font-size: clamp(12px, 3vw, 24px);
        line-height: 1.5rem;
      }
    }
    .score-block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-block: 0.5rem;
      border: 2px solid #ffffff1b;

      .score {
        font-size: 24px;
      }
    }
  }
}
.artwork {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 20, 26, 1);
  color: white;
  font-family: "PressStart2P";
  gap: 40px;
  padding-inline: 5%;

  .title {
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      #f00 0%,
      #d95d00 28.13%,
      #be7c68 50.52%,
      #f5ff87 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .map-artwork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #dd0bff;
    box-shadow: 4px 4px 0px 0px #ed1385;
    padding: 8px;
    .item {
      .link-img {
        width: 105px;
        margin-block: 4px;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .avatar-modal-open {
    .profil-map-div-block {
      gap: 16px;
      .map-div-avatar {
        .modale-validate {
          .avatar-img {
            width: 175px;
          }
        }
      }
    }
  }
  .profil-page {
    display: grid;
    grid-template-columns: 30% 70%;
    .profil-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .profile-block-avatar {
        .avatar {
          width: 230px;
        }
        .profil-button {
          .option {
            width: 150px;
          }
        }
      }
    }
    .profil-user {
      padding-top: 40px;
      .topic {
        padding-left: 24px;
        .resume {
          min-height: 240px;
          line-height: 2em;
        }
      }
      .score-block {
        display: flex;
        justify-content: flex-start;
        gap: 60px;
        padding-left: 24px;
        .trophy {
          width: 120px;
        }
      }
    }
  }
  .artwork {
    .title {
      font-size: 36px;
    }
    .map-artwork {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 2px solid #dd0bff;
      box-shadow: 4px 4px 0px 0px #ed1385;
      padding: 8px;
      .item {
        .link-img {
          width: 205px;
          // height: 105px;
          margin-block: 4px;
        }
      }
    }
  }
}
