.avatar-modal-close {
  display: none;
}
.main-container-profil-user {
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
  );
  margin-block: clamp(2.5rem, 8vw, 4rem);
  margin-inline: 10%;
  width: 80%;
  row-gap: clamp(2rem, 7vw, 4rem);
  .avatar-modal-open {
    font-family: "PressStart2P";
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    position: fixed;
    z-index: 2;
    background-color: #1c1e24;
    .profil-modal-title {
      font-size: 28px;
      text-align: center;
      margin-top: 40px;
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
    .profil-map-div-block {
      padding: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      justify-content: center;
      border: 2px solid #dd0bff;
      box-shadow: 4px 4px 0px 0px #ed1385;
      margin-inline: 16px;
      margin-top: 40px;
      .map-div-avatar {
        .avatar-img {
          width: 75px;
        }
      }
    }
    .block-button-validate-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      .avatar-img-selectioned {
        width: 145px;
        padding: 20px;
      }
      .block-button-photo {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        .button-validate {
          color: white;
          font-size: 18px;
          font-family: "PressStart2P";
        }
        .button-back {
          color: white;
          font-family: "PressStart2P";
          font-size: 18px;
        }
      }
    }
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    img {
      width: clamp(50px, 10vw, 100px);
      height: clamp(50px, 10vw, 100px);
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
    h1 {
      font-family: var(--secondary-font);
      // Red-gradient color text
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -----------------------
      font-size: clamp(1.5rem, 7vw, 3rem);
    }
  }
  .profil-page {
    display: flex;
    flex-direction: column;
    row-gap: clamp(2.5rem, 8vw, 5rem);
    .profil-top {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      // Border + bg Pink *************
      background-color: #f34cb651;
      box-sizing: border-box;
      padding: clamp(1.5rem, 6vw, 3rem);
      // *******************************

      .profile-block-avatar {
        width: 100%;
        .avatar-button {
          position: absolute;
          .img-modal {
            width: 30px;
            border: 1px solid rgba(128, 128, 128, 0.361);
          }
        }
        .avatar {
          border: 4px solid rgb(36, 126, 205);
          width: clamp(100px, 15vw, 160px);
        }
      }
      .option-btn {
        width: 100%;
        img {
          width: clamp(100px, 15vw, 160px);
          &:hover {
            transform: scale(1.05);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
    .profil-user {
      display: flex;
      flex-direction: column;
      row-gap: clamp(2.5rem, 8vw, 4rem);
      width: 100%;
      // Border + bg Pink *************
      background-color: #f34cb651;
      box-sizing: border-box;
      padding: clamp(1.5rem, 6vw, 3rem);
      // *******************************
      .topic {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 3vw, 2rem);
        .resume {
          font-size: clamp(0.8rem, 2.5vw, 1.3rem);
          line-height: clamp(1.5rem, 5vw, 3rem);
        }
      }
      .score-block {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .trophy {
          width: clamp(100px, 15vw, 150px);
        }
        .score {
          font-size: clamp(1.5rem, 5vw, 2.5rem);
        }
      }
    }
  }
  .artwork-gallery {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .map-artwork {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: clamp(1rem, 5vw, 3rem);
      border: clamp(5px, 1.2vw, 10px) solid #dd0bff;
      box-shadow: 4px 4px 0px 0px #ed1385;
      padding: 1rem;
      padding-block: clamp(1.5rem, 5vw, 2.5rem);
      background-color: rgba(255, 192, 203, 0.209);

      // Border + bg Pink *************
      background-color: #f34cb651;
      box-sizing: border-box;
      padding: clamp(1.5rem, 6vw, 3rem);
      // *******************************
      .item {
        .link-img {
          width: clamp(250px, 20vw, 350px);
          height: clamp(200px, 20vw, 350px);
          object-fit: cover;
          aspect-ratio: 1/1;
          padding: 5px;
          border: 2px solid whitesmoke;
        }
      }
      p {
        font-size: clamp(0.8rem, 2.5vw, 1.3rem);
        line-height: clamp(1.5rem, 5vw, 3rem);
      }
    }
  }
}

// ******************************************
//               MEDIA QUERIES
// ******************************************

@media screen and (min-width: 1024px) {
  .avatar-modal-open {
    .profil-map-div-block {
      .map-div-avatar {
        .modale-validate {
          .avatar-img {
            width: 170px;
          }
        }
      }
    }
    .block-button-validate-img {
      .avatar-img-selectioned {
        width: 205px;
        padding: 50px;
      }
    }
  }
  .main-container-profil-user {
    margin-inline: 10%;
    width: 80%;
    .section-title {
      justify-content: center;
      column-gap: clamp(2.5rem, 8vw, 5rem);
    }
    .profil-page {
      flex-direction: row;
      column-gap: clamp(2.5rem, 8vw, 5rem);
      .profil-top {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        row-gap: 5rem;
        .profile-block-avatar {
          width: 100%;
          .avatar-button {
            position: absolute;
          }
        }
      }
      .profil-user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
