.main-root {
  height: 100%;
  background-color: #1c1e24;
  background-image: url("../../../../backend/public/assets/images/bg-5.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.background-page {
  background-image: url("../../../../backend/public/assets/images/bck-rainbow.png");
  background-position: center;
  background-size: cover;
}
