.main-root {
  height: 100vh;
  background-color: #12141a;
}

.background-page {
  background-image: url("../../assets/images/bck-rainbow.png");
  background-position: center;
  background-size: cover;
}
