.validate-photo-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-inline: 10%;
  gap: 1rem;
  font-family: "PressStart2P";
  .images-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .one-image-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .image {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        background: var(--primary-color);
        border-right: 2px solid pink;
        border-top: 2px solid pink;
        border-left: 2px solid deeppink;
        border-bottom: 2px solid deeppink;
      }
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
      width: 50px;
    }
  }
  button {
    width: 90%;
    align-self: center;
    height: 50px;
    color: white;
    font-family: "PressStart2P";
    max-width: 400px;
  }
  .validate-button {
    background-color: green;
  }
  .refuse-button {
    background-color: red;
  }
  .modal {
    position: fixed;
    display: flex;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    left: -105%;
    top: 0px;
    transition: left 0.5s ease;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    p {
      color: white;
    }
    div {
      display: flex;
      gap: 1rem;
      position: relative;
      button {
        width: 100px;
        height: 50px;
      }
      .splatter {
        display: none;
        position: absolute;
      }
      .pink-splatter {
        width: clamp(325px, 60vw, 400px);
        height: clamp(325px, 60vw, 400px);
        bottom: -50vh;
        right: 150px;
      }
      .teal-splatter {
        width: clamp(300px, 60vw, 550px);
        height: clamp(300px, 60vw, 550px);
        bottom: -60vh;
        right: -30vh;
      }
      .green-splatter {
        width: clamp(300px, 60vw, 400px);
        height: clamp(300px, 60vw, 400px);
        bottom: 0px;
        left: -120px;
      }
    }
  }
  .modal-slide {
    left: 0;
  }
}

@media screen and (min-width: 480px) {
  .validate-photo-container {
    align-items: center;
    .images-container {
      .one-image-container {
        .image {
          width: 100%;
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .validate-photo-container {
    align-items: flex-start;
    width: 90%;
    padding-inline: 5%;
    .images-container {
      display: flex;
      flex-direction: row;
      .one-image-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        .image {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}
