.rules-main-container {
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
  );
  margin-block: clamp(2.5rem, 8vw, 3rem);
  margin-inline: 10%;
  width: 80%;
  row-gap: clamp(3rem, 10vw, 6rem);

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: clamp(1rem, 7vw, 4rem);
    img {
      width: clamp(40px, 10vw, 95px);
      height: clamp(40px, 10vw, 95px);
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
    h1 {
      font-family: var(--secondary-font);
      font-size: clamp(16px, 7vw, 60px);
      line-height: clamp(32px, 7vw, 150px);
      // Red-gradient color text
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -----------------------
    }
  }

  .section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clamp(2.5rem, 10vw, 4rem);

    .section-1 {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      .text-section-1 {
        font-size: clamp(0.8rem, 2.5vw, 1.3rem);
        font-family: var(--primary-font);
        line-height: clamp(1.5rem, 5vw, 3rem);
      }
    }

    .section-2 {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      .list-section-2 {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-left: 1rem;
        li {
          list-style: square;
          font-size: clamp(0.8rem, 2.5vw, 1.3rem);
          font-family: var(--primary-font);
          line-height: clamp(1.5rem, 5vw, 3rem);
        }
      }
    }

    .section-3 {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      .text-1-section-3 {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        font-size: clamp(0.8rem, 2.5vw, 1.3rem);
        font-family: var(--primary-font);
        line-height: clamp(1.5rem, 5vw, 3rem);
        margin-bottom: 2rem;

        .question-1-section-3 span {
          // Red-gradient color text
          background: var(--red-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // -----------------------
        }
      }
      .text-2-section-3 {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        font-size: clamp(0.8rem, 2.5vw, 1.3rem);
        font-family: var(--primary-font);
        line-height: clamp(1.5rem, 5vw, 3rem);

        .question-2-section-3 span {
          // Red-gradient color text
          background: var(--red-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // -----------------------
        }
      }
    }
  }
}

// ******************************************
//               MEDIA QUERIES
// ******************************************

@media only screen and (min-width: 1024px) {
  .rules-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 10%;
    width: 80%;
    min-height: calc(100vh - 160px - 5rem);
  }
}

@media only screen and (min-width: 1280px) {
  .rules-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 10%;
    width: 80%;
    min-height: calc(100vh - 160px - 5rem);
  }
}
