.ranking-main-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  row-gap: 2.5rem;
  margin-inline: 10%;
  margin-block: 2.5rem;
  width: 80%;
  min-height: calc(100vh - 160px - 5rem);
  .main-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: var(--secondary-font);
    // Red-gradient color text
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // -----------------------
  }
  .score-container {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    .score-tiers-list {
      font-family: var(--primary-font);
      font-size: 10px;
      display: flex;
      justify-content: space-around;
      padding: 0.5rem;
      border: 4px solid var(--Stroke-violet, #dd0bff);
      border-image: radial-gradient(
          rgb(11, 231, 172),
          rgb(255, 222, 8),
          #dd0bff
        )
        1;
      box-shadow: 4px 4px 0px 0px #ed1385;
      .first-player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 2px solid var(--Pink-Gradient, #ed1385);
        box-shadow: 2px 2px 0px 0px #fe3aa0;
        .avatar-img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .score-others-players {
      font-family: var(--primary-font);
      font-size: 12px;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      border: 4px solid var(--Stroke-violet, #dd0bff);
      border-image: radial-gradient(
          rgb(57, 185, 151),
          rgb(255, 222, 8),
          #0989c4
        )
        1;
      box-shadow: 4px 4px 0px 0px #ed1385;
      .other-player {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        justify-content: center;
        align-items: center;
        padding-block: 0.5rem;
      }
    }
    .score-current-user {
      display: grid;
      grid-template-columns: 20% 10% 40% 30%;
      justify-content: center;
      align-items: center;
      padding-block: 0.5rem;
      font-family: var(--primary-font);
      font-size: 12px;
      padding: 0.5rem;
      border: 4px solid var(--Stroke-violet, #dd0bff);
      border-image: radial-gradient(rgb(11, 231, 172), rgb(255, 222, 8)) 1;
      p {
        display: flex;
        justify-content: center;
      }
      .avatar-img-current {
        width: 50px;
        height: 50px;
      }
    }
  }
}
