.ranking-main-container {
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
  );
  margin-block: clamp(2.5rem, 8vw, 4rem);
  margin-inline: 10%;
  width: 80%;
  row-gap: clamp(2rem, 7vw, 4rem);
  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    img {
      width: clamp(50px, 10vw, 100px);
      height: clamp(50px, 10vw, 100px);
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
    h1 {
      font-size: 2rem;
      font-family: var(--secondary-font);
      // Red-gradient color text
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -----------------------
      font-size: clamp(1.5rem, 7vw, 3rem);
    }
  }
  .score-container {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    .score-tiers-list {
      font-family: var(--primary-font);
      font-size: clamp(8px, 2vw, 18px);
      display: flex;
      justify-content: space-around;
      padding: clamp(0.5rem, 3vw, 3rem);
      column-gap: clamp(0.5rem, 3vw, 3rem);
      border: clamp(4px, 1vw, 8px) solid var(--Stroke-violet, #dd0bff);
      border-image: radial-gradient(
          rgb(11, 231, 172),
          rgb(255, 222, 8),
          #dd0bff
        )
        1;
      box-shadow: 4px 4px 0px 0px #ed1385;
      .first-player,
      .second-player,
      .third-player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: clamp(0.5rem, 2vw, 1.5rem);
        width: 100%;
        padding-block: 1rem;
        border: clamp(4px, 1vw, 6px) solid var(--Pink-Gradient, #ed1385);
        box-shadow: 2px 2px 0px 0px #fe3aa0;
        #rank {
          font-size: clamp(12px, 2vw, 22px);
          color: gold;
        }
        button {
          font-family: var(--primary-font);
          font-size: clamp(8px, 2vw, 18px);
        }
        .name-player {
          // Blue-gradient color text
          background: var(--blue-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // -----------------------
          cursor: pointer;
          padding: clamp(0.2rem, 1.5vw, 1.5rem);
          border: 1px solid rgba(255, 255, 255, 0.366);
          &:hover {
            transform: scale(1.05);
          }
        }
        .avatar-img {
          width: clamp(50px, 10vw, 150px);
          height: clamp(50px, 10vw, 150px);
          border: 3px solid goldenrod;
        }
      }
      .first-player {
        background-color: rgba(255, 217, 0, 0.253);
      }
    }
    .score-others-players {
      font-family: var(--primary-font);
      font-size: clamp(10px, 3vw, 18px);
      display: flex;
      flex-direction: column;
      row-gap: clamp(0.5rem, 3vw, 1rem);
      padding: clamp(0.5rem, 3vw, 3rem);
      border: clamp(4px, 1vw, 8px) solid var(--Stroke-violet, #dd0bff);
      border-image: radial-gradient(
          rgb(57, 185, 151),
          rgb(255, 222, 8),
          #0989c4
        )
        1;
      box-shadow: 4px 4px 0px 0px #ed1385;

      .other-player {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        justify-content: center;
        align-items: center;
        padding: clamp(0.7rem, 3vw, 1.5rem);
        border: 1px solid rgba(255, 255, 255, 0.366);
        p {
          display: flex;
          justify-content: center;
          font-size: clamp(10px, 3vw, 20px);
        }
        button {
          font-family: var(--primary-font);
          font-size: clamp(10px, 3vw, 20px);
        }
        #name-other {
          // Blue-gradient color text
          background: var(--blue-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // -----------------------
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    .score-current-user {
      font-family: var(--primary-font);
      font-size: clamp(10px, 3vw, 24px);
      display: grid;
      grid-template-columns: 20% 10% 40% 30%;
      justify-content: center;
      align-items: center;
      padding-block: 0.5rem;
      padding: clamp(0.5rem, 2vw, 2rem);
      border: clamp(4px, 1vw, 8px) solid var(--Stroke-violet, #dd0bff);
      border-image: radial-gradient(rgb(11, 231, 172), rgb(255, 222, 8)) 1;
      background-color: rgba(74, 74, 74, 0.253);
      p {
        display: flex;
        justify-content: center;
      }
      button {
        font-family: var(--primary-font);
        font-size: clamp(10px, 3vw, 24px);
      }

      .avatar-img-current {
        width: clamp(50px, 10vw, 150px);
        height: clamp(50px, 10vw, 150px);
        border: 3px solid goldenrod;
      }
      .name-player-current {
        // Blue-gradient color text
        background: var(--blue-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // -----------------------
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

// ***************************
// *      MEDIA QUERIES      *
// ***************************

@media only screen and (min-width: 1024px) {
  .ranking-main-container {
    display: flex;
    display: flex;
    flex-direction: column;
    min-height: calc(
      100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
    );
    margin-block: clamp(2.5rem, 8vw, 4rem);
    margin-inline: 10%;
    width: 80%;
    row-gap: clamp(2rem, 7vw, 4rem);
  }
}

@media only screen and (min-width: 1280px) {
  .ranking-main-container {
    display: flex;
    display: flex;
    flex-direction: column;
    min-height: calc(
      100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
    );
    margin-block: clamp(2.5rem, 8vw, 4rem);
    margin-inline: 10%;
    width: 80%;
    row-gap: clamp(2rem, 7vw, 4rem);
  }
}
