// PARENT
.landing-page-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  row-gap: 3rem;
  position: relative;
  overflow: hidden;
  background: no-repeat left -220px bottom 0px url("../../../../backend/public/assets/spray/spray-blue.png");
  background-size: 400px;

  // LOGO
  .logo-container {
    position: relative;
    .spray-violet {
      background-color: transparent;
      width: 800px;
      height: 800px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-57%, -45%);
      z-index: 1;
    }
    .logo {
      background-color: transparent;
      width: clamp(340px, 25vw, 520px);
      height: clamp(350px, 25vw, 530px);
      margin-top: 16dvh;
    }
  }

  // LINKS
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(0.5rem, 3vw, 2rem);
    background-color: transparent;
    padding-right: 4rem;

    .links-block {
      display: flex;
      flex-direction: row;
      width: 200px;
      align-items: center;
      column-gap: 1rem;

      .links {
        font-family: var(--primary-font);
        text-decoration: none;
        padding-top: 7px;
        font-size: clamp(24px, 3vw, 28px);
        // Red-gradient color text
        background: var(--red-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // ----
        &:hover {
          cursor: pointer;
          transform: scale(0.95);
        }
      }
    }
  }

  // COPYRIGHT
  .copyright-container-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
    p {
      font-family: var(--primary-font);
      font-size: clamp(14px, 2vw, 20px);
      // Red-gradient color text
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // ----
    }
  }
}

@media screen and (min-width: 450px) {
  .landing-page-main-container {
    background:
      // green-apple
      no-repeat left -220px top 100px url("../../../../backend/public/assets/spray/spray-green-apple.png"),
      // blue
      no-repeat left -270px bottom -80px
        url("../../../../backend/public/assets/spray/spray-blue.png"),
      // orange
      no-repeat right -300px top -200px
        url("../../../../backend/public/assets/spray/spray-orange.png"),
      // pink
      no-repeat right -200px bottom -100px
        url("../../../../backend/public/assets/spray/spray-pink.png");
    background-size:
      450px 450px,
      450px 450px,
      500px 500px,
      500px 500px;
    .logo-container {
      position: relative;
      .spray-violet {
        background-color: transparent;
        width: 950px;
        height: 950px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-57%, -48%);
        z-index: 1;
      }
      .logo {
        background-color: transparent;
        margin-top: 16dvh;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .landing-page-main-container {
    background:
      // green-apple
      no-repeat left -220px top -50px
        url("../../../../backend/public/assets/spray/spray-green-apple.png"),
      // blue
      no-repeat left -220px bottom -80px
        url("../../../../backend/public/assets/spray/spray-blue.png"),
      // orange
      no-repeat right -200px top -200px
        url("../../../../backend/public/assets/spray/spray-orange.png"),
      // pink
      no-repeat right -200px bottom -100px
        url("../../../../backend/public/assets/spray/spray-pink.png");
    background-size:
      500px 500px,
      500px 500px,
      450px 450px,
      600px 600px;
    .logo-container {
      position: relative;
      .spray-violet {
        background-color: transparent;
        width: 900px;
        height: 900px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-57%, -47%);
        z-index: 1;
      }
      .logo {
        background-color: transparent;
        margin-top: 16dvh;
      }
    }
  }
}
