.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-height: 1200px;
  .left-boy {
    display: none;
  }
  .right-girl {
    display: none;
  }
  .login-input {
    .login-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(217, 93, 0, 1);
      font-size: 45px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: 20px;

      .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      }
      .continue {
        border: 3px solid #ff1c96;
        background: rgba(200, 56, 56, 0.2);
        box-shadow: 2px 1px 0px 0px #5d75f0;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: black;
        font-family: "PressStart2P";
        padding: 4px;
      }
    }
  }
  .log-out {
    display: flex;
  }
  .login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    .text {
      text-align: center;
      color: rgba(217, 93, 0, 1);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      font-family: "PressStart2P";
      line-height: 20px; /* 142.857% */
    }
    .register {
      border: 3px solid #66b652;
      background: rgba(200, 56, 56, 0.2);
      box-shadow: 2px 1px 0px 0px #5d75f0;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: black;
      font-family: "PressStart2P";
      padding: 4px;
    }
  }
}

@media screen and (min-width: 400px) {
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .input-block {
      display: flex;
      flex-direction: row;

      .login-input {
        min-width: 350px;
        .login-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgba(217, 93, 0, 1);
          font-size: clamp(30px, 4vw, 44px);
        }
        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 45px;
          margin-block: 60px;

          .input {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .continue {
            border: 3px solid #ff1c96;
            background: rgba(200, 56, 56, 0.2);
            box-shadow: 2px 1px 0px 0px #5d75f0;
            text-align: center;
            font-size: clamp(14px, 3vw, 30px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-inline: 8px;
            font-family: "PressStart2P";
          }
        }
      }
    }
    .log-out {
      display: flex;
    }
    .login-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      .text {
        color: rgba(217, 93, 0, 1);
        font-size: clamp(14px, 2.5vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }
      .register {
        border: 3px solid #66b652;
        background: rgba(200, 56, 56, 0.2);
        box-shadow: 2px 1px 0px 0px #5d75f0;
        font-size: clamp(14px, 3vw, 30px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "PressStart2P";
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .login-page {
    .input-block {
      display: flex;
      flex-direction: row;
      gap: clamp(2.5rem, 5vw, 10rem);
      .left-boy {
        display: flex;
        min-width: clamp(240px, 25vw, 370px);
      }
      .right-girl {
        display: flex;
        min-width: clamp(240px, 25vw, 370px);
      }
    }
  }
  .peint-bomb {
    display: none;
  }
}
