.login-page {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  min-height: calc(100vh - 160px - clamp(2.5rem, 8vw, 4rem) - 4rem);
  margin-block: clamp(2.5rem, 8vw, 3rem);
  width: 80%;
  margin-inline: 10%;
  .input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image-container-boy {
      display: none;
      .left-boy {
        display: none;
      }
    }

    .login-input {
      display: flex;
      flex-direction: column;
      row-gap: 4.5rem;
      .main-title {
        display: flex;
        justify-content: center;
        font-size: clamp(1.5rem, 8vw, 2.5rem);
        font-family: var(--secondary-font);
        // Red-gradient color text
        background: var(--red-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // -----------------------
      }
      .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .btn-container {
          button {
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #ff1c96;
            background: var(--primary-color);
            &:hover {
              transform: scale(0.95);
            }
            &:active {
              transform: scale(0.9);
            }

            .btn-span {
              font-family: var(--primary-font);
              font-size: 18px;
              text-transform: uppercase;
              background: var(--red-gradient);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
    .image-container-girl {
      display: none;
      .right-girl {
        display: none;
      }
    }
  }

  .log-out {
    display: flex;
  }
  .login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .text {
      display: block;
      text-align: center;
      font-size: clamp(0.5rem, 4vw, 1.2rem);
      font-family: var(--primary-font);
      line-height: 1.5rem;
    }
    .btn-container {
      button {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #66b652;
        background: var(--primary-color);
        &:hover {
          transform: scale(0.95);
        }
        &:active {
          transform: scale(0.9);
        }
        .btn-span {
          font-family: var(--primary-font);
          font-size: clamp(16px, 3vw, 18px);
          text-transform: uppercase;
          // Red-gradient color text
          background: var(--red-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // -----------------------
        }
      }
    }
  }
}

// ***************************
// *      MEDIA QUERIES      *
// ***************************

@media screen and (min-width: 1024px) {
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4rem;
    min-height: calc(
      100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
    );
    margin-block: clamp(2.5rem, 8vw, 4rem);
    margin-inline: 10%;
    width: 80%;

    .input-block {
      display: flex; //
      flex-direction: row; //
      justify-content: space-between; //
      // gap: clamp(2.5rem, 5vw, 10rem); //

      .image-container-boy {
        display: flex; //
        width: 100%;
        height: 375px; //
        width: clamp(15%, 20vw, 30%); //
        max-width: clamp(300px, 20vw, 350px); //
        // --- ANIMATION BORDER --- //
        font-size: 3vw;
        border: 0.3rem solid;
        border-image: conic-gradient(
            from var(--angle),
            var(--c2),
            var(--c1) 0.1turn,
            var(--c1) 0.15turn,
            var(--c2) 0.25turn
          )
          30;
        animation: borderRotate var(--d) linear infinite forwards;
        @keyframes borderRotate {
          100% {
            --angle: 420deg;
          }
        }
        // ------------------------ //
        .left-boy {
          display: block; //
          width: 100%; //
          object-fit: cover; //
        }
      }

      .login-input {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;

        .main-title {
          display: flex;
          justify-content: center;
          font-size: clamp(1.5rem, 8vw, 2.5rem);
          font-family: var(--secondary-font);
          // Red-gradient color text
          background: var(--red-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // -----------------------
        }
        .login-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          margin-top: 0.5rem;

          .btn-container {
            button {
              padding: 0.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 3px solid #ff1c96;
              background: var(--primary-color);
              &:hover {
                transform: scale(0.95);
              }
              &:active {
                transform: scale(0.9);
              }

              .btn-span {
                font-family: var(--primary-font);
                font-size: 18px;
                text-transform: uppercase;
                background: var(--red-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
      .image-container-girl {
        display: flex; //
        width: 100%;
        height: 375px; //
        width: clamp(15%, 20vw, 30%); //
        max-width: clamp(300px, 20vw, 350px); //
        // --- ANIMATION BORDER --- //
        font-size: 3vw;
        border: 0.3rem solid;
        border-image: conic-gradient(
            from var(--angle),
            var(--c2),
            var(--c1) 0.1turn,
            var(--c1) 0.15turn,
            var(--c2) 0.25turn
          )
          30;
        animation: borderRotate var(--d) linear infinite forwards;
        @keyframes borderRotate {
          100% {
            --angle: 420deg;
          }
        }
        // ------------------------ //
        .right-girl {
          display: block; //
          width: 100%; //
          object-fit: cover; //
        }
      }
    }

    .log-out {
      display: flex;
    }
    .login-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .text {
        display: block;
        text-align: center;
        font-size: clamp(0.5rem, 4vw, 1.2rem);
        font-family: var(--primary-font);
        line-height: 1.5rem;
      }
      .btn-container {
        button {
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid #66b652;
          background: var(--primary-color);
          &:hover {
            transform: scale(0.95);
          }
          &:active {
            transform: scale(0.9);
          }
          .btn-span {
            font-family: var(--primary-font);
            font-size: clamp(16px, 3vw, 18px);
            text-transform: uppercase;
            // Red-gradient color text
            background: var(--red-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // -----------------------
          }
        }
      }
    }
  }
}
