.label-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  align-items: flex-start;

  .label-title {
    font-family: var(--primary-font);
    font-size: 18px;
    text-transform: uppercase;
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .input-container {
    // width: 316px;
    height: 40px;
    padding-inline: 10px;
    font-family: var(--primary-font);
    font-size: clamp(16px, 2vw, 24px);
    background: var(--primary-color);
    border-right: 2px solid pink;
    border-top: 2px solid pink;
    border-left: 2px solid deeppink;
    border-bottom: 2px solid deeppink;
  }
}

/* --------------------------------------------------------------------------------------- */
/*                                      MEDIA QUERIES                                      */
/* --------------------------------------------------------------------------------------- */
