.navbar-container {
  overflow-y: hidden;
  button {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    height: 60px;
    background-color: #12141a;
    font-family: "PressStart2P";
    padding-inline: 20px;
    li {
      display: none;
      gap: 16px;
      a {
        text-decoration: none;
        color: white;
        font-family: "PressStart2P";
        font-size: 1rem;
        background: linear-gradient(
          180deg,
          #f00 0%,
          #d95d00 28.13%,
          #be7c68 50.52%,
          #f5ff87 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .overlay-container {
    display: flex;
    flex-direction: column;
    background-color: #12141a;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1001;
    button {
      margin-left: 20px;
      margin-block: 10px;
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    li {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: calc(60vh - 60px);
      align-self: center;
      z-index: 1002;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: white;
        font-family: "PressStart2P";
        font-size: clamp(24px, 5vw, 32px); //24px;
        background: linear-gradient(
          180deg,
          #f00 0%,
          #d95d00 28.13%,
          #be7c68 50.52%,
          #f5ff87 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .splatter {
      position: absolute;
    }
    .pink-splatter {
      width: 300px;
      height: 300px;
      bottom: 70px;
      right: -100px;
      rotate: -45deg;
    }
    .teal-splatter {
      width: 300px;
      height: 300px;
      top: -100px;
      right: -100px;
    }
    .green-splatter {
      width: 300px;
      height: 300px;
      bottom: 0px;
      left: -120px;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-container {
    .navbar {
      .burger {
        display: none;
      }
      li {
        display: flex;
      }
    }
  }
}
