.navbar-container {
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80px;
  font-family: "PressStart2P";
  padding-inline: 10%;
  background-color: #12141a;
  button {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  li {
    display: none;
    gap: 16px;
    a {
      text-decoration: none;
      color: white;
      font-family: "PressStart2P";
      font-size: 1rem;
      background: linear-gradient(
        180deg,
        #f00 0%,
        #d95d00 28.13%,
        #be7c68 50.52%,
        #f5ff87 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar-container {
    width: 90%;
    padding-inline: 5%;
    .burger {
      display: none;
    }
    li {
      display: flex;
    }
  }
}
