.legal-container {
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
  );
  margin-block: clamp(2.5rem, 8vw, 4rem);
  margin-inline: 10%;
  width: 80%;
  row-gap: clamp(2rem, 7vw, 4rem);
  h1 {
    display: flex;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 6vw, 3rem);
    line-height: clamp(2rem, 8vw, 4.5rem);
    // Red-gradient color text
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // -----------------------
  }
  div {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    row-gap: 1.5rem;
    h3 {
      font-size: clamp(0.8rem, 2.5vw, 1.3rem);
      line-height: clamp(1.5rem, 5vw, 3rem);
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-size: clamp(0.8rem, 2.5vw, 1.3rem);
      line-height: clamp(1.5rem, 5vw, 3rem);
    }
  }
}

@media screen and (min-width: 1024px) {
  .legal-container {
    display: flex;
    display: flex;
    flex-direction: column;
    min-height: calc(
      100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
    );
    margin-block: clamp(2.5rem, 8vw, 4rem);
    margin-inline: 10%;
    width: 80%;
    row-gap: clamp(2rem, 7vw, 4rem);
  }
}
