.leaflet-container {
  width: 80%;
  height: calc(80vh - 10px);
  border: 5px solid;
  border-image: radial-gradient(rgb(11, 231, 172), rgb(255, 222, 8), #dd0bff) 1;
  box-shadow: 5px 5px 0px 0px #ed13846a;

  .marker {
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    span {
      font-family: "PressStart2P";
    }
  }

  .leaflet-control-attribution {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .leaflet-container {
    width: 90%;
  }
}
