.map-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #12141a;
  height: calc(100vh - 160px);
  margin-block: 2.5rem;
  .leaflet-container {
    position: relative;
  }
  .photo-logo {
    position: absolute;
    z-index: 500;
    bottom: 10px;
    left: calc(50% - 50px);
    width: 100px;
    height: auto;
    img {
      width: 150px;
      height: 150px;
    }
  }
}
