.pannel-administrateur-page {
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
  );
  margin-block: clamp(2.5rem, 8vw, 4rem);
  margin-inline: 10%;
  width: 80%;
  row-gap: clamp(2rem, 7vw, 4rem);
  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: clamp(1rem, 7vw, 4rem);
    img {
      width: clamp(40px, 10vw, 95px);
      height: clamp(40px, 10vw, 95px);
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
    h1 {
      font-family: var(--secondary-font);
      font-size: clamp(16px, 7vw, 60px);
      line-height: clamp(30px, 9vw, 150px);
      // Red-gradient color text
      background: var(--red-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -----------------------
    }
  }
  .pannel-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2.5rem, 12vw, 5rem);
    line-height: 1.5rem;
    .img-admin {
      display: none;
    }
    .map-admin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 250px;
      row-gap: clamp(0.5rem, 1.5vw, 1.2rem);
      padding: 1rem;
      font-size: clamp(0.7rem, 2vw, 1.2rem);
      border: clamp(4px, 1.2vw, 7px) solid #dd0bff;
      box-shadow: 4px 4px 0px 0px #ed1385;
      p {
        display: flex;
        justify-content: space-between;
        column-gap: clamp(1rem, 4vw, 3rem);
      }
      span {
        font-size: clamp(0.9rem, 2.5vw, 1.3rem);
        color: red;
      }
    }
  }
  .arrays {
    display: flex;
    flex-direction: column;
    row-gap: clamp(1.2rem, 3vw, 2.5rem);
    .artworks-gallery-empty {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 1rem;
      gap: 1rem;
      line-height: clamp(1rem, 4vw, 2rem);
      font-size: clamp(0.8rem, 2.5vw, 1.3rem);
      border: clamp(5px, 1.2vw, 10px) solid #dd0bff;
      box-shadow: 4px 4px 0px 0px #fe91c9;
      padding: clamp(1.5rem, 6vw, 3rem);
      background-color: rgba(255, 192, 203, 0.209);
      // Border + bg Pink *************
      background-color: #f34cb651;
      box-sizing: border-box;
      // *******************************
    }
  }

  .tableau {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: clamp(5px, 1.2vw, 10px) solid #dd0bff;
    box-shadow: 4px 4px 0px 0px #fe91c9;
    padding: 1rem;
    padding-block: clamp(1.5rem, 5vw, 3rem);
    gap: 1rem;
    background-color: rgba(255, 192, 203, 0.209);
    // Border + bg Pink *************
    background-color: #f34cb651;
    box-sizing: border-box;
    // *******************************
    .map-tableau {
      &:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
      }
      &:active {
        transform: scale(0.95);
        transition-duration: 0.5s;
      }
      .div-img {
        .link-img {
          width: clamp(250px, 25vw, 350px);
          height: clamp(200px, 25vw, 350px);
          object-fit: cover;
          aspect-ratio: 1/1;
          padding: 5px;
          border: 2px solid whitesmoke;
        }
      }
    }
  }
  .pannel-link {
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .disabled {
      opacity: 0.5;
    }
  }
}

// ******************************************
//               MEDIA QUERIES
// ******************************************

@media screen and (min-width: 1024px) {
  .pannel-administrateur-page {
    display: flex;
    display: flex;
    flex-direction: column;
    min-height: calc(
      100vh - 160px - clamp(2.5rem, 8vw, 5rem) - clamp(2rem, 7vw, 4rem)
    );
    margin-block: clamp(2.5rem, 8vw, 4rem);
    margin-inline: 10%;
    width: 80%;
    row-gap: clamp(2rem, 7vw, 4rem);
    .pannel-stats {
      width: 100%;
      .img-admin {
        display: block;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: 50% 0%;
        box-shadow: 5px 5px 0px pink;
      }
    }
  }
}

.img-admin {
  box-sizing: border-box;
  font-size: 3vw;
  border: 0.7rem solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
