:root {
  --primary-color: rgb(89, 50, 76);
  --primary-font: "PressStart2P", sans-serif;
  --secondary-font: "PixelBit", sans-serif;
  --red-gradient: linear-gradient(
    180deg,
    #f00 0%,
    #d95d00 28.13%,
    #be7c68 50.52%,
    #f5ff87 100%
  );
}

.label-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  align-items: flex-start;

  .label-title {
    font-family: var(--primary-font);
    font-size: 18px;
    text-transform: uppercase;
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // text-shadow: 2px 1px 0px #5d75f0;
  }

  .input-container {
    width: 316px;
    height: 40px;
    padding-inline: 10px;
    font-family: var(--primary-font);
    color: white;
    line-height: 1.5rem;
    font-size: clamp(12px, 1.5vw, 16px);
    background: var(--primary-color);
    border-right: 2px solid pink;
    border-top: 2px solid pink;
    border-left: 2px solid deeppink;
    border-bottom: 2px solid deeppink;
  }
}

/* --------------------------------------------------------------------------------------- */
/*                                      MEDIA QUERIES                                      */
/* --------------------------------------------------------------------------------------- */
