:root {
  --primary-color: rgb(89, 50, 76);
  --primary-font: "PressStart2P", sans-serif;
  --secondary-font: "PixelBit", sans-serif;
  --red-gradient: linear-gradient(
    180deg,
    #f00 0%,
    #d95d00 28.13%,
    #be7c68 50.52%,
    #f5ff87 100%
  );
}

.label-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  align-items: flex-start;

  .label-title {
    font-family: var(--primary-font);
    font-size: 18px;
    text-transform: uppercase;
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .input-container {
    width: 100%;
    max-width: 350px;
    min-width: 285px;
    box-sizing: border-box;
    height: 40px;
    font-family: var(--primary-font);
    font-size: clamp(16px, 2vw, 24px);
    background: var(--primary-color);
    border-right: 2px solid pink;
    border-top: 2px solid pink;
    border-left: 2px solid deeppink;
    border-bottom: 2px solid deeppink;
    color: whitesmoke;
    font-size: 1rem;
    outline: none;
    &:focus-visible {
      background-color: rgba(255, 192, 203, 0.442);
    }
  }
}

/* --------------------------------------------------------------------------------------- */
/*                                      MEDIA QUERIES                                      */
/* --------------------------------------------------------------------------------------- */
