.marker-cluster {
  background-color: darkslategrey;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-25%, -25%);
  font-family: "PressStart2P";
  padding-left: 2px;
}

.leaflet-popup {
  left: -40;
  .leaflet-popup-content-wrapper {
    background-color: #c7af16;
    border-radius: 0;
    .leaflet-popup-content {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-family: "PressStart2P";
      img {
        width: 100%;
      }
      button {
        width: 100%;
        font-family: "PressStart2P";
        border: black 2px solid;
        color: black;
        background-color: white;
        padding: 2px;
        font-size: 1rem;
      }
    }
  }
  .leaflet-popup-tip-container {
    .leaflet-popup-tip {
      background-color: #c7af16;
    }
  }
  .leaflet-popup-close-button {
    display: none;
  }
}
