.profil-admin-page {
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 20, 26, 1);
  color: white;
  font-family: "PressStart2P";
  gap: 40px;
  padding-inline: 10%;

  .profil-top {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    .avatar {
      width: 130px;
    }
    .profil-button {
      .option {
        text-align: center;
      }
    }
  }
  .profil-user {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    .topic {
      display: flex;
      gap: 20px;
      flex-direction: column;
      .pseudo {
        font-size: 30px;
        background: linear-gradient(
          180deg,
          #4475f5 0%,
          #4e75ff 32.81%,
          #aeb1ff 67.71%,
          #fff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .resume {
        font-size: clamp(12px, 3vw, 24px);
        line-height: 1.5rem;
      }
    }
    .score-block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-block: 0.5rem;
      border: 2px solid #ffffff1b;

      .score {
        font-size: 24px;
      }
    }
  }
}
.admin-block {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  .admin-img {
    width: 79px;
  }

  .admin-text {
    background: linear-gradient(
      180deg,
      #4475f5 0%,
      #4e75ff 32.81%,
      #aeb1ff 67.71%,
      #fff 100%
    );
    padding: 12px;
    text-align: center;
    color: white;
    font-family: "PressStart2P";
  }
}
.artwork {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 20, 26, 1);
  color: white;
  font-family: "PressStart2P";
  gap: 40px;
  padding-inline: 5%;

  .title {
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      #f00 0%,
      #d95d00 28.13%,
      #be7c68 50.52%,
      #f5ff87 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .map-artwork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #dd0bff;
    box-shadow: 4px 4px 0px 0px #ed1385;
    padding: 8px;
    .item {
      .link-img {
        width: 105px;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .profil-admin-page {
    display: grid;
    grid-template-columns: 30% 70%;
    .profil-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .avatar {
        width: 230px;
      }
      .profil-button {
        .option {
          width: 150px;
        }
      }
    }
    .profil-user {
      padding-top: 40px;

      .topic {
        padding-left: 24px;
        .resume {
          min-height: 240px;
          line-height: 2em;
        }
      }
      .score-block {
        display: flex;
        justify-content: flex-start;
        gap: 60px;
        padding-left: 24px;

        .trophy {
          width: 120px;
        }
      }
    }
  }
  .admin-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    margin-block: 36px;

    .admin-text {
      background: linear-gradient(
        180deg,
        #4475f5 0%,
        #4e75ff 32.81%,
        #aeb1ff 67.71%,
        #fff 100%
      );
      padding: 24px;
      text-align: center;
      color: white;
      font-family: "PressStart2P";
      font-size: 26px;
    }
  }
  .artwork {
    .map-artwork {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 2px solid #dd0bff;
      box-shadow: 4px 4px 0px 0px #ed1385;
      padding: 18px;
      .item {
        .link-img {
          width: 405px;
          aspect-ratio: 1;
          margin-block: 16px;
          object-fit: cover;
        }
      }
    }
  }
}
