.admin-users {
  min-height: calc(100vh - 160px);
  font-family: "PressStart2P";
  margin-inline: 5%;
  .admin-title {
    margin-block: 24px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      #f00 0%,
      #d95d00 28.13%,
      #be7c68 50.52%,
      #f5ff87 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .admin-table {
    margin-block: 24px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      #f00 0%,
      #d95d00 28.13%,
      #be7c68 50.52%,
      #f5ff87 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .div-users {
    font-family: "PressStart2P";
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-block: 0.5rem;
    border: 2px solid #dd0bff;
    padding-inline: 8px;
    font-size: 12px;
    box-shadow: 4px 4px 0px 0px #ed1385;

    .div-fiche-perso {
      margin-block: 8px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "PressStart2P";
      gap: 16px;
      .link-img {
        width: 50px;
      }
      .score {
        display: flex;
        justify-content: space-between;
        width: 130px;
        padding-left: 8px;
        background: linear-gradient(
          180deg,
          #4475f5 0%,
          #4e75ff 32.81%,
          #aeb1ff 67.71%,
          #fff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .admin-users {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .div-users {
      align-items: center;
      width: 950px;

      .div-fiche-perso {
        font-size: 20px;
        gap: 48px;
        padding: 0.5rem;
        border: 2px solid #ffffff1b;
        .link-img {
          width: 75px;
        }
        .score {
          font-size: 20px;
          width: 240px;
        }
      }
    }
  }
}
