.title-main-container {
  display: flex;
  flex-direction: row;

  .title {
    font-size: clamp(1rem, 3.2vw, 1.8rem);
    line-height: clamp(1.5rem, 6vw, 2.5rem);
    font-family: var(--primary-font);
    text-transform: uppercase;
    // Red-gradient color text
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 1px #4475f5);
    // -----------------------
  }
}
