.title-main-container {
  display: flex;
  flex-direction: row;

  .title {
    font-size: 1.2rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    // Red-gradient color text
    background: var(--red-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 1px #4475f5);
    line-height: 1.5rem;
    // -----------------------
  }
}
